/*BY+COPYRIGHT GREG ABBOTT 2024*/
/*v 2024-11-08*/
:root{
	color-scheme: light dark;
  --light:hsl(60, 25%, 95%);
  --dark:hsl(15, 5%, 10%);
	--base_x1:1ch;
  --half_base_x1:.5ch;
	--bg:light-dark(var(--light),var(--dark));
	--fg:light-dark(var(--dark),var(--light));
  --border: 1px solid var(--fg);
  --radius:3px;
  --line_height:120%;
}
*{
	outline:none;
	font-family: "CommitMono", ui-monospace, monospace;
	font-variant-ligatures: no-common-ligatures;
	line-height: var(--line_height);
	padding: 0;
	margin: 0;
	font-size: 13px;
	box-sizing: border-box;
	border: 0;
	color: var(--fg);
	background-color: transparent;
}

@media (prefers-color-scheme: dark) {
	::-moz-selection {
		background:  var(--light);
    color:var(--dark);
  }
	::selection{
		background:var(--light);
		color: var(--dark);
	}
}
@media (prefers-color-scheme: light) {
	::-moz-selection{
    background:var(--dark);
		color:var(--light);
  }
	::selection{
		background: var(--dark);
		color:var(--light);
	}
}
::backdrop{
  background-size: 2px;
  background-position: 0 0;
}
#no_click_through{
display: none;
}
body:has(:popover-open) #no_click_through {
/*prevent click through when [popover] active*/
display: block;
position: fixed;
background-color: transparent;
top: 0;
left: 0;
width: 100dvw;
height: 100dvh;
z-index: 3;
}
::-webkit-scrollbar {
  background: transparent;	
	width: var(--base_x1);
	cursor:pointer;
}
::-webkit-scrollbar-thumb:horizontal {
	border-bottom: var(--half_base_x1) solid var(--fg);
	background: transparent;	
}
::-webkit-scrollbar-thumb:vertical {
	border-right: var(--half_base_x1) solid var(--fg);
	background: transparent;	
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: transparent;	
}
textarea{
  caret-color:#8e70f7;
}
a {
  color: var(--fg);
}
html,body{
	background-color: var(--bg);
	width: 100vw;
	height: 100dvh;
  min-height: 100dvh;
}
body {
	display: flex;
	flex-direction: column;
}
/*tl1 tab,level N*/
#show_tl1_about:checked ~ * label[for=show_tl1_about],
/*#show_tl1_spec:checked ~ * label[for=show_tl1_spec],*/
/*#show_tl1_changelog:checked ~ * label[for=show_tl1_changelog]*/
#show_tl1_tool:checked ~ * label[for=show_tl1_tool],
#show_tl1_license:checked ~ * nav label[for=show_tl1_license]
{
	border-color: var(--fg);
	border-bottom: 1px solid var(--bg);
  &:hover {
    border-style: solid;
  }
}
/*
#show_tl1_spec:checked ~ * label[for=show_tl1_spec]{
  border: var(--border);
}*/
#show_tl1_about:checked ~ * #tl1_about,
#show_tl1_tool:checked ~ * #tl1_tool,
/*#show_tl1_spec:checked ~ * #tl1_spec,*/
/*#show_tl1_changelog:checked ~ * #tl1_changelog,*/
#show_tl1_license:checked ~ * #tl1_license
 {
	display: flex;
}

nav {
  user-select: none;
	background-color: transparent;
	z-index: 2;
	margin-bottom: -1px;
	display: flex;
	flex-direction: row;
  align-items:stretch;
  gap: 2px;
  span {
    padding: .5ch 1ch .5ch 0;
  }
  
	& > label {/*tab section labels , not drop down*/
		background-color: transparent;
		border: 1px solid transparent;
		border-bottom:1px solid;
		padding: .5ch 1ch;
		
		display: inline-block;
		
		border-radius: var(--radius) var(--radius) 0 0;
    &:hover {
      border-color: var(--fg);
      border-style: dashed;
    }
    
	}

}
#main {
  margin: 0 2ch;
  border: 1px solid var(--fg);
  border-top: 0;
	position: relative;
	
	height: 0px;
	flex: 1 1 auto;
  overflow: hidden;
	> div {
		/*Section/Tab*/
			padding: 1ch 2ch 2ch 2ch;
			display: none;
			flex: 1 1 auto;
			height: 100%;

			max-width: 100%;
			pre {
        /*about/license/changelog sections text*/
				width: 64ch;
				padding: 2ch;
        box-sizing: content-box;
        /*^so padding doesn't change inner width:
        both text in box, and box == 64 ch wide
        */
				margin: 0 auto;
				overflow-y: auto;
        overflow-x: none;
        white-space: pre-wrap; 
        
			}
	}

}

#perline_holder:focus-within,
#normal_wrapped_holder:focus-within
{
  .column_header {
    border-style: solid;
  }
  .column_info{
    border-style: solid;
  }
}
h1,h2,.center {
	text-align: center;
}



[popover]{
	/*default*/
	position: fixed;
  inset: 0;
  
  height: fit-content;
  margin: auto;
  border: solid;
  padding: 0.25em;
  overflow: auto;
	/*custom*/
  background-color: var(--bg);
	
	width: 66ch;
	min-height: 6ch;
	border: 2px solid var(--fg);
	padding: 2ch;
	max-width: 100dvw;
  max-height: 90dvh;
  p{
    margin-bottom: 1em;
  }
	pre{
		white-space: pre-wrap; 
	}
	button{
    width: 100%;
		display: block;
    margin-bottom: 2px;
	}
}
.no_select{
  user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    cursor: default;
}
#template_picker{
  text-align: center;
}
#tl1_tool{
  flex-direction: column;
}

#t1l_menu_bar {
  display: flex;
  max-width: 64ch;
  align-self: center;
  padding: 0px 0ch 1ch 0ch;
  gap: 1ch;
  justify-content: space-between;/*center*/
  field{
    display: flex;
    flex-direction: column;
    input {
      border: var(--border);
      border-radius: var(--radius);
      width: 8ch;
    }
    input[type="checkbox"]{
      display: none;
    }
    input[type="checkbox"] + label{
      text-align: left;
    }
      input[type="checkbox"] + label::after{
        content: ' [ ]';
      }
    
    input[type="checkbox"]:checked + label::after{
      content: ' [Y]';
    }
  }
}
.view_toggle{
  display: flex;
  border-radius:var(--radius);
  padding: 2px;
  gap: 2px;
  border: 1px solid var(--fg);
  align-items: center;
  label {
    padding: 2px;
    line-height: 100%;
    border: 1px solid transparent;
    &:hover {
      border: 1px dashed var(--fg)
    }
  }
  
}

#view_input:checked ~ * label[for=view_input],
#view_both:checked ~ * label[for=view_both],
#view_output:checked ~ * label[for=view_output]
{
  border-style: solid;
	border-color: var(--fg);
}
#view_input:checked ~ * #normal_wrapped_holder,
#view_output:checked ~ * #perline_holder {
	display: flex;
}
#view_both:checked ~ * :is(#normal_wrapped_holder,#perline_holder){
  display: flex;
}
#view_both:checked ~ * #normal_wrapped_holder{
  border-right: 1px solid var(--fg);
}
#sidebar_and_inputs_area {
  display: flex;
  flex-direction: row;
  gap: 1ch;
  flex: 1;
}
#tag_picker {/* insert block tag pane*/
  max-width: 200px;
  border: var(--border);
  #tag_options {
    padding: 1ch;
  }
  button {
    white-space: pre;
    width: 100%;
    text-align: left;
    margin-bottom: 2px;
  }
}
#tl1_columns {/*area that holds input and output holders*/
  display: flex;
  flex: 1 1 auto;
  gap: 1ch;
  min-width: 0;
  flex-direction: row;
}
@media only screen and (max-width: 140ch) {
  #tl1_columns {
flex-direction: column;
  }
}
.column_header {
  padding: 1ch;
  border-bottom: 1px dashed var(--fg);
  text-align: center;
}
#normal_wrapped_holder,
#perline_holder{
  /*left and right of tool section*/
  display: none;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 1px solid var(--fg);
  position: relative;
  overflow: hidden;

  .column_info{
    /*bar underneath field*/
    border-top: 1px dashed var(--fg);
    padding: 1ch;
    text-align: center;
  }
}
button {
	background: var(--bg);
	color: var(--fg);
	border: 1px solid transparent;
  border-radius:var(--radius);
  padding: 2px 4px;
  line-height: 100%;
}
button:hover {
  border-style: solid;
  border-color: var(--fg);
}
button:active {
  background-color: var(--fg);
  color: var(--bg);
}
/*Drop down menu functionality*/
label[for="close_sub_menu"]{
	/*transparent div that covers entire window*/
	display: block;
	z-index: 3;
	/* To check*/background:url(x.svg);/**/
  background-size: 2px;
  background-position: 0 0;
  /* rgba(255, 0, 0, 0.1);/**/
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}
#close_sub_menu:checked + label[for="close_sub_menu"]{
	display: none;
}
.text_holder {
  max-width: 64ch;
  margin: 0 auto;
  p{
    margin-bottom: 1em;
  }
}
.menu_bar {
	gap:2px;
	display: flex;
  flex-direction: row;
	padding: 0 0 0 var(--half_base_x1);
  border: none;
 
  align-items: end;
  
	line-height: var(--line_height);
  
	& input[type=radio]{
		display: none;
	}
	& input[type=radio]:not(:checked) ~ .sub_menu_holder{
		display: none;
	}
}
button span {
  display: inline;
}
.menu_item {
	position: relative;
	&:hover .sub_menu_holder{
		display: flex !important;
	}
  .menu_button {
    padding: 1px var(--half_base_x1);
    border-radius: var(--radius);
    border: 1px solid transparent;
    display: block;
    margin-bottom: 3px;
    line-height: 100%;
    &:active {
      background: var(--fg);
      color: var(--bg);
      border: var(--border);
      border-color: var(--fg);
    }
  }
  .sub_menu_holder{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 19px;
    background: var(--bg);
    min-width: 200px;
    border-radius: var(--radius);
    padding: 2px;
    z-index: 3;
    border: var(--border);
    & hr{
      width: 100%;
      border-top: var(--border);
      margin: 2px 0;
    }
    & :is(a, label, button) {
      /*label or link*/
      border-radius: var(--radius);
      border:1px solid transparent;
      background-color: transparent;
      width: 100%;
      white-space: pre;
      margin: 0px 0;
      display: block;
      padding: 0 var(--half_base_x1);
      line-height: var(--line_height);
      text-align: left;
      
    }
    /* If using labels to toggle states
    & label::before{ 
      content: ' ';
      width: 2ch;
      display: inline-block;
    } 
      */
    & :is(a, label, button):hover{
      cursor: pointer;
      border-color: var(--fg);
    }
    & :is(a, label, button):active {
      /*label or link*/
      background: var(--fg);
      border-color: var(--fg);
      color: var(--bg);
    }
  }
}
/* has active sub-menu*/
.menu_item > input:checked + .menu_button,
.menu_item:hover .menu_button{
	border: 1px solid var(--fg)
 
}
footer {
	text-align: center;
	padding: 1ch;
	
  label{
    border: 1px solid transparent;
    border-radius:var(--radius);
    padding: 2px;
  }
  label:hover {
    border-color: var(--fg);
  }
  label:active {
    background-color: var(--fg);
    color: var(--bg);
  }
}
header{
  margin: 0 2ch;
	padding: 2ch 0ch;
	border-bottom: 1px solid var(--fg);
	padding-bottom: 0;
}
#please_enable_js {
	position: fixed;
	background-color: var(--fg);
	color: var(--bg);
	padding: 2ch;
	top: 25%;
	width: 100vw;
	left: 0%;
	z-index: 999;
	height: auto;
	max-width: 100vw;
	text-align: center;
	font-size: 20px;
}
textarea{
	width: 100%;
	flex: 1 1 auto;
	resize: none;
  min-height: 0;
  padding: 1ch 0ch;
}

.textarea_holder {
  height: 0;
  flex-grow: 1;
  flex-shrink: 1;
position: relative;
  padding: 1ch 1ch 1ch 2ch;
  overflow: hidden;
  border: 2px solid transparent;
display: flex;
flex-direction: column;
&:focus-within{
  border-color:var(--fg);
}
}

#perline_ruler {
  position: absolute;
  height: 100%;
  top: 0;
  border-left: 1px dashed var(--fg);
  
}
#perline_textarea_holder:has(textarea:focus){
  border-color:var(--fg);
}
textarea#perline {
  min-height: 0;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  outline: 2px dashed transparent;
  overflow-x: auto;
  white-space: pre;
}
